name: CI-CD
on: 
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Obtendo o código
      uses: actions/checkout@v4.1.5
    - name: Autenticação no Docker Hub
      uses: docker/login-action@v3.1.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build da Imagem Docker
      uses: docker/build-push-action@v5.3.0
      with:
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: | 
          magsond/aula-primeira-pipeline:v${{ github.run_number }} 
          magsond/aula-primeira-pipeline:latest 
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps: 
    - name: Obtendo o código
      uses: actions/checkout@v4.1.5
    - name: Configuração do contexto do Kubernetes (DigitalOcean)
      run: |
        echo "${{ secrets.K8S_CONFIG }}" > kubeconfig.yaml
        export KUBECONFIG=kubeconfig.yaml
        kubectl config get-contexts
    - name: Execução do Manifesto
      uses: digitalocean/action-doctl@v2
      with:
        manifests: |
          ./k8s/deployment.yaml
        images: |
          magsond/aula-primeira-pipeline:v${{ github.run_number }}
